### Import Libraries

In [97]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

### Ingest data into Dataframe

### Electricity price monthly data

In [82]:
FILE_PATH = '/Users/apoor/Desktop/Anjali/MSDAIS/Analytics/Assignments/Project/'

In [89]:
df_electricity = pd.read_csv(FILE_PATH + 'Retail_sales_of_electricity_monthly.csv',skiprows = 4)
df_gasoline.dtypes

Year              datetime64[ns]
Gasoline Price           float64
dtype: object

### Gasoline price monthly data

In [88]:
df_gasoline = pd.read_excel(FILE_PATH + 'Retail_sales_of_gasoline_monthly.xlsx',skiprows = 9)
df_gasoline.dtypes

Year              datetime64[ns]
Gasoline Price           float64
dtype: object

### Data Cleaning

In [102]:
# Missing data, Outliers, Correcting data types

#Check isnull
print(df_electricity.isnull().sum())
print()
print(df_gasoline.isnull().sum())

Month                0
Electricity Price    0
dtype: int64

Year              0
Gasoline Price    0
dtype: int64

In [112]:
#Drop nan values
print(df_electricity)
df_electricity_clean = df_electricity.dropna()
print(df_electricity_clean)
print(df_gasoline)
print()
df_gasoline_clean = df_gasoline.dropna()
print(df_gasoline_clean)

      Month  Electricity Price
0    Jan-21        321218.7318
1    Dec-20        310827.6381
2    Nov-20        272926.1893
3    Oct-20        292142.2744
4    Sep-20        318002.0696
..      ...                ...
236  May-01        264490.4917
237  Apr-01        254390.9355
238  Mar-01        269298.4014
239  Feb-01        272334.7380
240  Jan-01        310816.0688

[241 rows x 2 columns]
      Month  Electricity Price
0    Jan-21        321218.7318
1    Dec-20        310827.6381
2    Nov-20        272926.1893
3    Oct-20        292142.2744
4    Sep-20        318002.0696
..      ...                ...
236  May-01        264490.4917
237  Apr-01        254390.9355
238  Mar-01        269298.4014
239  Feb-01        272334.7380
240  Jan-01        310816.0688

[241 rows x 2 columns]
          Year  Gasoline Price
0   2001-01-01           1.403
1   2001-02-01           1.459
2   2001-03-01           1.416
3   2001-04-01           1.555
4   2001-05-01           1.693
..         ...             ...
236 2020-09-01           1.893
237 2020-10-01           1.833
238 2020-11-01           1.766
239 2020-12-01           1.885
240 2021-01-01           2.065

[241 rows x 2 columns]

          Year  Gasoline Price
0   2001-01-01           1.403
1   2001-02-01           1.459
2   2001-03-01           1.416
3   2001-04-01           1.555
4   2001-05-01           1.693
..         ...             ...
236 2020-09-01           1.893
237 2020-10-01           1.833
238 2020-11-01           1.766
239 2020-12-01           1.885
240 2021-01-01           2.065

[241 rows x 2 columns]

In [113]:
#To remove Electricity data outliers
q1 = df_electricity_clean['Electricity Price'].quantile(0.25)
q3 = df_electricity_clean['Electricity Price'].quantile(0.75)
iqr = q3-q1 #Interquartile range
fence_low  = q1-1.5*iqr
fence_high = q3+1.5*iqr
df_electricity_clean_out = df_electricity_clean.loc[(df_electricity_clean['Electricity Price'] > fence_low) & (df_electricity_clean['Electricity Price'] < fence_high)]
df_electricity_clean_out

      Month  Electricity Price
0    Jan-21        321218.7318
1    Dec-20        310827.6381
2    Nov-20        272926.1893
3    Oct-20        292142.2744
4    Sep-20        318002.0696
..      ...                ...
236  May-01        264490.4917
237  Apr-01        254390.9355
238  Mar-01        269298.4014
239  Feb-01        272334.7380
240  Jan-01        310816.0688

[241 rows x 2 columns]

In [114]:
#To remove Gasoline data outliers
quat1 = df_gasoline_clean['Gasoline Price'].quantile(0.25)
quat3 = df_gasoline_clean['Gasoline Price'].quantile(0.75)
iqrg = quat3-quat1 #Interquartile range
low  = quat1-1.5*iqrg
high = quat3+1.5*iqrg
df_gasoline_clean_out = df_gasoline_clean.loc[(df_gasoline_clean['Gasoline Price'] > low) & (df_gasoline_clean['Gasoline Price'] < high)]
df_gasoline_clean_out

          Year  Gasoline Price
0   2001-01-01           1.403
1   2001-02-01           1.459
2   2001-03-01           1.416
3   2001-04-01           1.555
4   2001-05-01           1.693
..         ...             ...
236 2020-09-01           1.893
237 2020-10-01           1.833
238 2020-11-01           1.766
239 2020-12-01           1.885
240 2021-01-01           2.065

[241 rows x 2 columns]